@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Kalam:wght@400;700&display=swap');

#main{
    padding: 0!important;
    background-color: #D0B7E4;
    min-width: 100vw;
    min-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#topo #roboLogo{
    max-height: 150px;
}

#roboLogoPerguntas{
    max-height: 100px;
}

#topo #titulo{
    background-color: #FFD7E3;
    padding: 5px 20px;
    border-radius: 20px;
    font-family: 'Dancing Script', cursive;
    margin-top: 5px;
    color: #603B8F;
}

#tela1,
#tela2,
#tela3,
#tela4,
#tela5,
#tela6,
#tela7,
#tela8,
#tela9,
#tela10,
#tela11,
#tela12{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: 100% 100%;
    background-attachment: fixed;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
}

#tela1,
#tela2{
    background-image: url("../img/bg1.png")
}

#tela3{
    background-image: url("../img/bg2.png")
}

#tela4,
#tela5,
#tela6,
#tela7,
#tela8,
#tela9,
#tela10,
#tela11{
    background-image: url("../img/bg3.png")
}

#tela12{
    background-image: url("../img/bg4.png")
}

#tela1 #imgFimCurso{
    width: 80%;
    transform: rotate(-20deg);
    z-index: 1;
    max-width: 328px;
}

#tela1 #imgTextoTela1{
    margin-left: 40px;
    margin-top: -30px;
    z-index: 2;
}

#tela2 #imgTextoTela2,
#tela3 #imgTextoTela3{
    width: 95%;
    max-width: 360px;
}

#buttonComecar{
    background-color: #6f0082;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 15px;
    display: block;
    margin: 20px;
}

#buttonComecar:hover{
    background-color: #450052;
}

#buttonVoltar{
    background-color: #545454;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 15px;
    display: block;
    margin: 20px;
}


#buttonVoltar:hover{
    background-color: #101010;
}

#conteudo{
    width: 100vw;
}

#buttons{
    display: flex;
}

#formDadosPessoais{
    text-align: left;
    width: 90%;
    margin: 0 auto;
}

#formPergunta{
    width: 90%;
    margin: 0 auto;
}

#formDadosPessoais input,
#formDadosPessoais select{
    background-color: #EFE7DD;
    color: #383E48;
    border-radius: 100px;
}

#formPergunta textarea{
    height: 110px;
    background-color: #EFE7DD;
    color: #383E48;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
}

#formDadosPessoais label,
#formPergunta label{
    margin-top: 10px;
}

#tela4 p#desc1{
    font-size: 18px;
    width: 90%;
    margin: 0 auto;
    font-weight: bold;
    color: #603B8F;
}

#tela4 #desc2{
    font-size: 16px;
    width: 90%;
    margin: 0 auto;
    font-weight: bold;
    color: #000;
    margin-top: 20px;
}

img#imgPergunta{
    width: 80%;
    max-width: 360px;
}

#loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

#loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#conteudoFim p{
    font-family: 'Kalam', cursive;
    font-weight: bold;
    font-size: 17pt;
    margin-top: 230px;
}

#progressBar{
    width: 80%;
    margin: 10px auto;
}

/* 
#backgroundTela1,
#backgroundTela2,
#backgroundTela3{
    background-color: rgba(255, 255, 255, 0.5);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding-bottom: 20px;
    min-height: 860px;
    min-width: 390px;
}

#backgroundTela1{
    background-image: url("../img/tela1.png");
}

#backgroundTela2{
    background-image: url("../img/tela2.png");
}

#backgroundTela3{
    background-image: url("../img/tela3.png");
}


#background{
    background-image: url("https://img.freepik.com/vetores-gratis/fundo-abstrato-aquarela-roxo_23-2149036193.jpg?w=2000");
    background-color: rgba(255, 255, 255, 0.5);
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh; 
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}


#conteudo{
    max-width: 450px;
    z-index: 2;
    position: relative;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
}

#title{
    font-weight: bold;
    color: #6f0082;
    text-align: center;
}


#roboAssistente{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#roboLogo{
    max-height: 35vh;
    margin-top: 30px;
}

@keyframes upDownAnimation {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
} 

  
#roboLogo {
    animation: upDownAnimation 2s infinite; /* Ajuste a duração da animação conforme necessário */
}/*

#balaoDeFala {
    position: relative;
    width: 90%;
    padding: 15px;
    background-color: #7c6c9e;
    border-radius: 100px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#balaoDeFala:after{
    content: "";
    position: absolute;
    bottom: -30px; /* Posiciona a seta abaixo do balão *//*
    left: 50%; /* Posiciona a seta no centro horizontal *//*
    margin-left: -20px;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent #7c6c9e transparent;
    transform: rotate(180deg); /* Inverte a seta para apontar para cima *//*
}

#balaoDeFala p{
    color: #fff;
    font-size: 20px;
}

#main #home{
    max-width: 450px;
}

#buttonVoltar{
    background-color: #545454;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    width: 250px;
    margin: 0 auto;
    margin-top: 15px;
    display: block;
    margin: 20px;
}


#buttonVoltar:hover{
    background-color: #101010;
}


#main #home #buttonComecar,
#main #apresentacao #buttonContinuarCarta,
#main #instrucoes #buttonIniciarCarta,
#main #pageTeste #btnEnviarCarta{
    background-color: #6f0082;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    width: 250px;
    margin: 0 auto;
    margin-top: 15px;
    display: block;
    margin: 20px;
}

#main #home #buttonComecar:hover,
#main #apresentacao #buttonContinuarCarta:hover,
#main #instrucoes #buttonIniciarCarta:hover,
#main #pageTeste #btnEnviarCarta:hover{
    background-color: #450052;
}

#formCarta label{
    float: left;
    margin-top: 10px;
} */